body {
	text-align: center;
	font-size: 16px;
	margin: 0;
}
/*@media all and (min-resolution: 150dpi) { body { font-size: 15px; } }
@media all and (min-resolution: 200dpi) { body { font-size: 20px; } }
@media all and (min-resolution: 250dpi) { body { font-size: 25px; } }
@media all and (min-resolution: 300dpi) { body { font-size: 30px; } }*/
.button {
	cursor: pointer;
	position: relative;
}
.button:active {
	box-shadow: 0 0 0.5em 0.5em rgba(0,0,0,0.5) inset;
}
.specific.forhaus,
.specific.vycep,
body.forhaus #selection,
body.vycep #selection,
body #place {
	display: none;
}
body.forhaus #place,
body.vycep #place {
	display: block;
}
body.forhaus .specific.forhaus {
	display: block;
}
body.vycep .specific.vycep {
	display: block;
}
#selection .place {
	position: absolute;
		top: 0;
		bottom: 50%;
		left: 0;
		right: 0;
	cursor: pointer;
}
#selection .place.forhaus {
	background-image: url(../images/concrete.jpg);
	background-size: cover;
}
#selection .place.forhaus:after {
	content: '';
	display: block;
	position: absolute;
		top: 2em;
		left: 2em;
		right: 2em;
		bottom: 2em;
	background-image: url(../images/forhaus_black.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#selection .place.vycep {
	background-image: url(../images/wood.jpg);
	background-size: contain;
	position: absolute;
		top: 50%;
		bottom: 0;
}
#selection .place.vycep:after {
	content: '';
	display: block;
	position: absolute;
		top: 36%;
		left: 0;
		right: 0;
		bottom: 36%;
	background-color: #FFFFE6;
	background-image: url(../images/vycep_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#selection .divider {
	z-index: 10;
	position: absolute;
		left: 0;
		right: 0;
		top: 50%;
	height: 1em;
	margin-top: -0.5em;
	background-color: #666666;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
#selection .divider > div {
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
		top: -1em;
		left: 0;
		right: 0;
	margin: 0 auto;
	display: block;
	width: 10em;
	padding: 0.5em;
	height: 2em;
	border: 1px solid black;
	background-color: #666666;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
#top, #bottom {
	position: fixed;
		left: 0;
		right: 0;
}
#top {
		top: 0;
	height: 10em;
	background-color: white;
}
#top > .forhaus {
	border-top: 0.5em solid #BAC405;
}
#content {
	margin: 10em 0;
	background-color: gray;
}
#bottom {
		bottom: 0;
	height: 10em;
	background-color: yellow;
}
#top > div > .button,
#top .logo {
	position: absolute;
		top: 0.5em;
		bottom: 0;
		left: 0;
}
#top > div > .button {
	width: 10em;
}
#top .logo {
		left: 10em;
		right: 10em
}
#top .menu {
	text-align: left;
	border: 1px solid black;
	z-index: 30;
	position: absolute;
		top: 10em;
		left: 0;
	display: none;
}
#top .menu.show {
	display: block;
}
#top .menu > div {
	padding: 1em;
	text-transform: uppercase;
	background-color: white;
}
#bottom .button {
	position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
	margin-left: -5em;
	width: 10em;
	z-index: 2;
}
#bottom .button:first-child {
		left: 0;
		right: 50%;
	margin-left: 0;
	margin-right: 5em;
	width: auto;
	z-index: 1;
}
#bottom .button:last-child {
		right: 0;
	margin-left: 5em;
	width: auto;
	z-index: 1;
}

img {
	height: 100%;
}